/*=============================================================
                  GERAL
==============================================================*/

html {
  font-size: calc(15px + 0.390625vw); /*responsividade da fonte*/
}

body {
  /* background: rgb(99, 224, 238); */
  background: white;
  color: #21243d;
  font-family: "Cabin", sans-serif;
}

a {
  color: #21243d; /*cor do link */
  text-decoration: none; /*tirar a barra do link */
  font-size: 1.2rem;
}

p {
  line-height: 130%; /*altura da linha */
}

h1 {
  color: black;
  font-size: 2.2rem;
}

h2 {
  color: black;
}

p {
  color: #888888;
}

img {
  max-width: 100%;
}

/* ======================================================HEADER=================================================================*/

header {
  text-align: center;
  padding: 2vw 3vw 2vw 3vw;
}

header nav ul li {
  margin: 20px;
}
a.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
a.login {
  color: #fbbc05;
}

a.get-started {
  color: white;
  background: #fbbc05;
  padding: 12px;
  border-radius: 8px;
}

@media (min-width: 1024px) {
  header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header nav > ul {
    display: flex;
    align-items: center;
  }
  header nav ul li {
    margin: 0px 10px 0px 10px;
  }

  header nav ul ul {
    display: none;
  }

  header nav ul li:hover ul {
    display: block;
    position: absolute;
  }
  header nav ul ul li {
    margin: 5px 0 5px 0;
  }
  
  h1 {
    font-size: 1rem;
  }
  a {
    font-size: 1rem;
  }
}
